<f:layout name="Default" />

<f:section name="main">
<h1>Neuer Anlass</h1>

<f:flashMessages as="flashMessages">
	<f:render partial="Alert" arguments="{flashMessages:flashMessages}" />
</f:flashMessages>

<f:render partial="FormErrors" arguments="{object:Event}"/>

<f:form action="create" enctype="multipart/form-data"  name="event" object="{event}">
	<f:render partial="Event/FormFields" arguments="{event:event,rooms:rooms,resources:resources,categories:categories}" />
	<div class="text-right">
        <f:link.action action="listMonthEdit" class="btn btn-outline-dark">Abbrechen</f:link.action>&nbsp;
        <f:form.submit value="Speichern" class="btn btn-primary" />
	</div>
</f:form>
</f:section>