{namespace agenda=FKU\FkuAgenda\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
<h1>Serie neuer Anlässe erstellen</h1>

<f:flashMessages as="flashMessages">
	<f:render partial="Alert" arguments="{flashMessages:flashMessages}" />
</f:flashMessages>

<f:render partial="FormErrors" arguments="{object:Event}"/>

<f:form action="createSeries" enctype="multipart/form-data"  name="event" object="{event}" class="form-horizontal">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<h3>Serie-Angaben</h3>
			<div class="row">
				<div class="form-group">
					<label for="eventStartDate" class="col-md-3 control-label">Serie von/bis</label>
					<div class="col-md-4">
						<f:form.textfield property="eventStartDate" value="{event.eventStartDate->f:format.date(format:'d.m.Y')}" class="form-control" errorClass="has-error" placeholder="TT.MM.JJJJ" />
					</div>
					<div class="col-md-4">
						<f:form.textfield property="eventEndDate" value="{event.eventEndDate->f:format.date(format:'d.m.Y')}" class="form-control" errorClass="has-error" placeholder="TT.MM.JJJJ" />
					</div>
				</div>
				<div class="form-group">
					<label for="eventEndDate" class="col-md-3 control-label">Interval</label>
					<div class="col-md-8">
						<div class="form-inline">
							<f:form.radio property="seriesInterval" checked="{event.seriesInterval}==0" value="0" /> Wöchentlich jeden
							<f:form.select property="seriesWeekDay" options="{weekdays}" class="form-control" />
							<br />
							<f:form.radio property="seriesInterval" checked="{event.seriesInterval}==1" value="1" /> Monatlich jeden
							<f:form.select property="seriesMonthPosition" options="{withinMonth}" optionLabelField="title" class="form-control" />
							<f:form.select property="seriesMonthDay" options="{weekdays}" optionLabelField="title" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<br />
			<h3>Anlass-Details</h3>
			<div class="row">
				<div class="form-group">
					<label for="eventStartDate" class="col-md-3 control-label">
						<span data-toggle="tooltip" data-placement="bottom" title="Bleibt die Von-Zeit leer, wird sie auf 00:00 gesetzt. Bleibt die Bis-Zeit leer, nimmt sie den gleichen Wert an wie die Von-Zeit. In der Agenda wird nur dann Anfangs- und Endzeit angezeigt, wenn sie unterschiedlich sind. Wenn gar keine Zeit angezeigt werden soll, muss 'Ganztägiger Anlass' aktiviert sein."><span class="halflings halflings-question-sign"></span></span>&nbsp;
						Zeit von/bis
					</label>
					<div class="col-md-4">
						<f:form.textfield property="eventStartTime" value="{event.eventStartTime->f:format.date(format:'H.i')}" class="form-control" placeholder="HH.MM" />
					</div>
					<div class="col-md-4">
						<f:form.textfield property="eventEndTime" name="eventEndTime" value="{event.eventEndTime->f:format.date(format:'H.i')}" class="form-control" placeholder="HH.MM" />
					</div>
				</div>
				<div class="form-group">
					<label for="allDay" class="col-sm-3 col-xs-4 control-label">Dauer</label>
					<div class="col-sm-8 col-xs-8">
						<f:alias map="{allDayValues: {0:'Gemäss Zeiten', 1:'Ganztägig', 2:'Abends'}}">
							<f:form.select property="allDay" options="{allDayValues}" class="form-control" />
						</f:alias>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-md-3 control-label">Beschreibung</label>
					<div class="col-md-8">
						<f:form.textarea property="description" rows="6" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="category" class="col-md-3 control-label">Kategorie</label>
					<div class="col-md-8">
						<f:form.select property="category" options="{categories}" optionLabelField="title" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="visible" class="col-md-3 control-label">Sichtbarkeit</label>
					<div class="col-md-8">
						<div class="radio-inline">
							<f:form.radio property="visible" checked="{event.visible.uid}==1" value="1" /> Öffentlich
						</div>
						<div class="radio-inline">
							<f:form.radio property="visible" checked="{event.visible.uid}==2" value="2" /> Intern
						</div>
						<div class="radio-inline">
							<f:form.radio property="visible" checked="{event.visible.uid}==3" value="3" /> Admin
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="link" class="col-md-3 control-label">Internet-Link</label>
					<div class="col-md-8">
						<f:form.textfield property="link" class="form-control" placeholder="www.beispiel.ch" />
					</div>
				</div>
				<div class="form-group">
					<label for="relatedDocuments" class="col-md-3 control-label">Dokumente</label>
					<div class="col-md-8">
						<f:form.upload name="newDocument" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<h3>Anlass als News auf Homepage anzeigen</h3>
			<div class="row">
				<div class="form-group">
					<label for="newsStartDate" class="col-md-2 control-label">Anzeige</label>
					<div class="col-md-8">
						<div class="form-inline">
							<f:form.select property="seriesNews" options="{newsAdvance}" class="form-control" /> vor Anlassbeginn
							&nbsp;<span data-toggle="tooltip" data-placement="bottom" title="Das Von-Datum für den News-Eintrag errechnet sich aus dem Anlassdatum; als Von-Zeit wird 00:00 verwendet. Enddatum und -zeit des News-Eintrags wird mit Enddatum und -zeit des Anlasses gleichgesetzt."><span class="halflings halflings-question-sign"></span></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="newsText" class="col-md-2 control-label">
						<span data-toggle="tooltip" data-placement="bottom" title="Wird kein News-Text eingegeben, erscheint im News-Eintrag die Anlass-Beschreibung."><span class="halflings halflings-question-sign"></span></span>&nbsp;
						Text
					</label>
					<div class="col-md-8">
						<f:form.textfield property="newsText" class="form-control" />
					</div>
				</div>
			</div>
			<br />
			<h3>Administrative Angaben</h3>
			<div class="row">
				<div class="form-group">
					<label for="rooms" class="col-md-2 control-label">Räume</label>
					<div class="col-md-4">
						<f:for each="{rooms}" as="room">
							<div class="checkbox">
								<agenda:inArray needle="{room.uid}" haystack="{event.roomArray}">
									<f:then>
										<label>
											<f:form.checkbox property="rooms" value="{room.uid}" checked="1" multiple="1" /> {room.title}
										</label>
									</f:then>
									<f:else>
										<label>
											<f:form.checkbox property="rooms" value="{room.uid}" checked="0" multiple="1" /> {room.title}
										</label>
									</f:else>
								</agenda:inArray>
							</div>
						</f:for>
					</div>
					<label for="resources" class="col-md-2 control-label">Ressourcen</label>
					<div class="col-md-4">
						<f:for each="{resources}" as="resource">
							<div class="checkbox">
								<agenda:inArray needle="{resource.uid}" haystack="{event.resourceArray}">
									<f:then>
										<f:form.checkbox property="resources" value="{resource.uid}" checked="1" /> {resource.title}
									</f:then>
									<f:else>
										<f:form.checkbox property="resources" value="{resource.uid}" checked="0" /> {resource.title}
									</f:else>
								</agenda:inArray>
							</div>
						</f:for>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="text-right">
		<f:link.action action="listMonthEdit" class="btn btn-default">Abbrechen</f:link.action>&nbsp;
		<f:form.submit value="Speichern" class="btn btn-primary" />
	</p>
</f:form>
</f:section>